* {

    box-sizing:border-box;

}



body {

    margin:0;

    height:100vh;

    background:#050505;

    color:white;

    font-family:Arial, Helvetica, sans-serif;

    overflow:hidden;

    cursor:none;

}



/* CUSTOM CURSOR */

.custom-cursor {

    position:fixed;

    width:18px;

    height:18px;

    border-radius:50%;


    background:#b36cff;


    box-shadow:

    0 0 20px #b36cff,
    0 0 60px #8b35ff;


    pointer-events:none;


    transform:translate(-50%, -50%);


    z-index:9999;

}



/* GAME */

#game {

    width:100%;

    height:100vh;

}



/* SCENES */

.scene {

    width:100%;

    height:100vh;


    position:absolute;


    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;


    opacity:0;

    pointer-events:none;


    transition:1s;

}



.scene.active {

    opacity:1;

    pointer-events:auto;

}



/* START SCREEN */

#startScene {


    background:

    radial-gradient(

        circle at center,

        #24103d 0%,

        #090510 45%,

        #000 100%

    );


}



#startScene::before {


    content:"";


    position:absolute;


    width:700px;

    height:700px;


    background:#9b5cff;


    opacity:.18;


    filter:blur(180px);


    animation:pulse 5s infinite alternate;


}



/* LOGO */


.logo {

    display:flex;

    align-items:center;

    gap:55px;

    font-size:120px;

    font-weight:700;

    letter-spacing:10px;

    z-index:2;

    animation:intro 2s ease;

}



/* HEART */


.heart {


    width:65px;

    height:65px;


    background:#ff4fd8;


    position:relative;


    transform:rotate(-45deg);


    box-shadow:


    0 0 20px #ff4fd8,

    0 0 70px #ff4fd8;


    animation:heartbeat 1.7s infinite;


}



.heart::before,

.heart::after {


    content:"";


    position:absolute;


    width:65px;

    height:65px;


    background:#ff4fd8;


    border-radius:50%;


}



.heart::before {

    top:-32px;

    left:0;

}



.heart::after {

    top:0;

    left:32px;

}





/* TITLE */


h1 {


    z-index:2;


    margin-top:40px;


    color:#d0d0d0;


    font-size:18px;


    font-weight:300;


    letter-spacing:12px;


}



/* BUTTON */


#startButton {


    margin-top:80px;


    padding:18px 65px;


    background:transparent;


    color:white;


    border:1px solid #b36cff;


    border-radius:50px;


    font-size:14px;


    letter-spacing:5px;


    cursor:none;


    z-index:2;


    transition:.4s;


}



#startButton:hover {


    background:#b36cff;


    color:black;


    box-shadow:


    0 0 30px #b36cff,

    0 0 90px #b36cff;


}



/* VERSION */


.version {


    position:absolute;


    bottom:30px;


    right:40px;


    color:#555;


    letter-spacing:4px;


}





/* ANIMATIONS */


@keyframes intro {


from {

    opacity:0;

    transform:scale(.7);

    filter:blur(20px);

}


to {

    opacity:1;

    transform:scale(1);

    filter:blur(0);

}

}



@keyframes pulse {


from {

    transform:scale(.8);

}


to {

    transform:scale(1.2);

}


}



@keyframes heartbeat {


0%,100% {

    transform:rotate(-45deg) scale(1);

}


50% {

    transform:rotate(-45deg) scale(1.15);

}

}
